[run]
source = .
omit = 
    */venv/*
    */env/*
    */.venv/*
    */tests/*
    */test_*
    */migrations/*
    manage.py
    */settings.py
    */apps.py
    */admin.py
    */asgi.py
    */wsgi.py
    */manage.py
    */urls.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if settings.DEBUG